/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 0.0300030003em;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h1,
h2,
h3 {
  color: var(--titles-color);
}

.container {
  width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}

:root {
  --text-color: rgba(117, 117, 117, 1);
  --titles-color: rgba(33, 33, 33, 1);
  --decor-color: rgba(33, 150, 243, 1);
}

.logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.0300030003em;
}

.logo__decor-element {
  color: var(--decor-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item {
  position: relative;
  letter-spacing: 0.02em;
}
.nav-list__item:hover, .nav-list__item:focus {
  color: var(--decor-color);
}

.nav-list__link {
  padding-block: 32px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link--current::before {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -31px;
  border-radius: 10px;
  background-color: var(--decor-color);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
}

.contacts-list__link {
  padding-block: 32px;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--decor-color);
}

.contacts-list__item:first-child {
  margin-right: 30px;
  letter-spacing: 0.02em;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: var(--text-color);
}
.contacts-list__link:hover .contacts-list__icon, .contacts-list__link:focus .contacts-list__icon {
  fill: var(--decor-color);
}

.header {
  color: var(--titles-color);
  font-weight: 500;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-list {
  margin-left: auto;
}

.header__logo {
  display: block;
  margin-right: 94px;
  padding-block: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 350ms linear 0s, visibility 350ms linear 0s;
  transition: opacity 350ms linear 0s, visibility 350ms linear 0s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  min-width: 528px;
  min-height: 581px;
  border-radius: 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: transform 400ms, opacity 400ms;
  transition: transform 400ms, opacity 400ms, -webkit-transform 400ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.modal__icon-close {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.modal__btn-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  border: 1px solid var(--decor-color);
}

.cursor {
  cursor: pointer;
}

.modal {
  padding: 40px;
}

.feedback__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.0300030003em;
  text-align: center;
}

.feedback__user-name {
  margin-bottom: 10px;
}

.feedback__user-phone {
  margin-bottom: 10px;
}

.feedback__user-email {
  margin-bottom: 10px;
}

.feedback__user-messages {
  margin-bottom: 20px;
}

.feedback__label-name,
.feedback__label-phone,
.feedback__label-email,
.feedback__label-textarea {
  font-size: 12px;
  letter-spacing: 0.01em;
}

.feedback__wrapper-input {
  display: block;
}

.feedback--input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.feedback--label {
  display: block;
  margin-bottom: 4px;
}

.feedback__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.feedback__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--decor-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.0600240096em;
  color: #fff;
  cursor: pointer;
}

.feedback__terms {
  margin-bottom: 30px;
  margin-left: 19px;
}

.feedback--input:focus,
.feedback__textarea--focus:focus {
  outline: 1px solid var(--decor-color);
  outline-offset: -1px;
}

.feedback__icon-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.feedback__checkbox:checked + .feedback__icon-checkbox {
  border: transparent;
  background-image: url(../images/feedback-form/accept-form-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--decor-color);
}

.feedback__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.feedback__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--titles-color);
}

.feedback__wrapper-input {
  position: relative;
}

.feedback_input:focus + .feedback__input-icon {
  fill: var(--decor-color);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: #ffffff;
  letter-spacing: 0.0600240096em;
  text-transform: uppercase;
}

.hero {
  width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/home/hero/hero-background-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/hero-background-img.jpg);
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 216px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--decor-color);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
}

.features-list__decr {
  line-height: 1.71em;
}

.specification__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.features {
  padding-block: 94px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__list {
  margin-bottom: 94px;
}

.features-list__item {
  width: calc((100% - 90px) / 4);
}

.features-list__decr {
  margin-top: 10px;
}

.features-list__wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: rgb(245, 244, 250);
  border-radius: 5px;
}

.specification-list__overlay-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.specification-list__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.specification-list__item {
  position: relative;
}

.specification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__icon {
  fill: #AFB1B8;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.worker {
  width: calc((100% - 90px) / 4);
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.worker__name {
  margin-bottom: 10px;
  color: var(--titles-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0300030003em;
}

.worker__position {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.0300030003em;
}

.worker__photo {
  margin-bottom: 30px;
}

.worker__social-list {
  margin-bottom: 30px;
  margin-top: 16px;
}

.our-team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.our-team {
  padding-block: 94px;
  background-color: #F5F4FA;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */