/* - - - - - common styles - - - - - */
:root {
--text-color: rgba(117, 117, 117, 1);
--titles-color: rgba(33, 33, 33, 1);
--decor-color: rgba(33, 150, 243, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: calc(1em / 33.33);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h1,
h2,
h3 {
  color: var(--titles-color);
}


.container {
  width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}

#page.no-scroll {
  overflow: hidden;
}

/* - - - - - - - - - - - - - - - - Home - - - - - - - - - - - - - - - -  */

/* - - - header - - - */

header a {
  text-decoration: none;
  color: currentColor;
}

.nav-list a:hover,
.contacts-list a:hover {
  color: var(--decor-color);
}

.nav-list a:focus,
.contacts-list a:focus {
  color: var(--decor-color);
}

.nav-list a:focus {
  color: var(--decor-color);
}

.header {
  color: var(--titles-color);
  font-weight: 500;
}

.contacts-list {
  color: var(--text-color);
}

.header__logo {
  font-family: 'Raleway', serif;
  font-size: 26px;
  font-weight: 700;
  margin-right: 94px;
}

.logo-decor {
  color: var(--decor-color);
}

.header-box {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.header__logo p {
  margin-block: 24px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__item > a,
.contacts-list__item a {
  padding-block: 32px;
}

.contacts-list__item:first-child {
  margin-right: 30px;
}

.contacts-list li,
.header__nav li {
  letter-spacing: calc(1em / 50);
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--text-color);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--decor-color);
}

.nav-list__item {
  position: relative;
}

.current::before {
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -31px;
  border-radius: 10px;
  background-color: var(--decor-color);
}

/* dialog */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  
  transition: opacity 350ms linear 0s, visibility 350ms linear 0s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  min-width: 528px;
  min-height: 581px;

  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transition: transform 400ms, opacity 400ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
}

.dialog__icon-close {
  fill: none;
  stroke:#000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.dialog__btn-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px;

  position: absolute;
  top: 0;
  right: 0;

  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dialog__btn-close:hover,
.dialog__btn-close:focus {
  border: 1px solid var(--decor-color);
}

.cursor {
  cursor: pointer;
}

.modal {
  padding: 40px;
}

.feedback__title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: calc(1em / 33.33);
  text-align: center;
}

.feedback__user-name {
  margin-bottom: 10px;
}

.feedback__user-phone {
  margin-bottom: 10px;
}

.feedback__user-email {
  margin-bottom: 10px;
}

.feedback__user-messages {
  margin-bottom: 20px;
}

.feedback__label-name,
.feedback__label-phone,
.feedback__label-email,
.feedback__label-textarea {
  font-size: 12px;
  letter-spacing: calc(1em / 100);
}

.feedback__wrapper-input {
  display: block;
}

.feedback_input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.feedback_label {
  display: block;
  margin-bottom: 4px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
}

.feedback__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--decor-color);
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: calc(1em / 16.66);
  color: #fff;

  cursor: pointer;
}

.feedback__terms {
  margin-bottom: 30px;
  margin-left: 19px;
}

.feedback_input:focus,
.modal_textarea:focus {
  outline: 1px solid var(--decor-color);
  outline-offset: -1px;
}

.feedback__icon-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.feedback__checkbox:checked + .feedback__icon-checkbox {
  border: transparent;
  background-image: url(../images/feedback-form/accept-form-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--decor-color);
}

.feedback__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__label-checkbox {
  display: flex;

  cursor: pointer;
}

.feedback__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  fill: var(--titles-color);
}

.feedback__wrapper-input {
  position: relative;
}

.feedback_input:focus + .feedback__input-icon {
  fill: var(--decor-color);
}




/* - - - hero - - - */
.primary-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: #ffffff;
  letter-spacing: calc(1em / 16.66);
}

.hero {
  width: 1600px;
  height: 600px;
  background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home/hero/hero-background-img.jpg);
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

.primary-title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero a {
  text-decoration: none;
  color: #ffffff;
}

.hero__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 216px;
  height: 50px;

  border: none;
  border-radius: 5px;
  background-color: var(--decor-color);

  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* - - - features - - - */
.features-list__item h3 {
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
}

.features-list__item p {
  line-height: 1.71em;
}

.specification__subtitle,
.our-team__subtitle {
  font-weight: 700;
  font-size: 36px;
}

.features {
  padding-block: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}

.features-list__item {
  width: calc((100% - 90px) / 4);
}

.features-list__item p {
  margin-top: 10px;
}

.features-wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: rgba(245, 244, 250, 1);
  border-radius: 5px;
}

.specification__overlay h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.specification__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.specification-list__item {
  position: relative;
}

/* - - - our-team - - - */
.item__name {
  color: var(--titles-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: calc(1em / 33.33);
}

.position {
  font-size: 16px;

}

.specification__subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.specification-list {
  display: flex;
  gap: 30px;
}

.our-team {
  padding-block: 94px;
  background-color: #F5F4FA;
}

.our-team__subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  gap: 30px;
}

.our-team-list__item {
  width: calc((100% - 90px) / 4);
  background-color: #fff;
  border-radius: 3px;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.our-team-list__item {
  text-align: center;
}

.our-team-list__item > img {
  margin-bottom: 30px;
}

.our-team-list__item > h3 {
  margin-bottom: 10px;
}

.our-team-list__item > p {
  margin-bottom: 16px;
}

.worker-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: transparent;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196F3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #AFB1B8;
}

/* - - - clients - - - */
.clients {
  padding: 94px 0px;
}


.clients h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  color: var(--titles-color);
  text-align: center;
}

.clients__logo-list {
  display: flex;

}

.clients-logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  /* border: 1px solid #AFB1B8; */
  /* border-radius: 4px; */
}

.clients-logo-item:not(:last-child) {
  margin-right: 30px;
}

.logo-icon {
  fill: #AFB1B8;
} 

.logo-link {
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.logo-link:hover,
.logo-link:focus {
  border-color: var(--decor-color);
}

.logo-link:focus {
  outline: none;
}

.logo-link:hover .logo-icon,
.logo-link:focus .logo-icon {
  fill: var(--decor-color);
}

/* - - - footer - - - */

.footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71em;

  background-color: rgba(47, 48, 58, 1);
  height: 252px;
}

.adress-color {
  color: #ffffff;
}

.footer__logo {
  font-family: 'Raleway', serif;
  font-size: 26px;
  font-weight: 700;
  margin-right: 94px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
}

.footer__adresse {
  line-height: 2rem;
}

.footer__wrapper {
  display: flex;
}


.footer__wrapper-social {
  width: 206px;
  height: 80px;
}

.footer__wrapper-social h3 {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__social-list {
  display: flex;
  margin-top: 20px;
}

.footer__soclial-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__link-icon {
  fill: #ffffff;
}

.footer__soclial-link:hover,
.footer__soclial-link:focus {
  background-color: var(--decor-color);
}

.footer__subscription-title {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: calc(1em / 33.33);
  text-transform: uppercase;
  color: #fff;
}

.subscr-field {
  display: inline-block;
  position: relative;
}

.sub-input {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: calc(1em / 33.33);
  color: rgba(255, 255, 255, 0.6);
}

.sub-input::placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: calc(1em / 33.33);
  color: rgba(255, 255, 255, 0.6);
}

 .sub-input:focus {
  outline: none;
  border: 1px solid #fff;
}

.subscr-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  width: 200px;
  height: 50px;
  margin-left: 12px;

  border: 1px solid var(--decor-color);
  border-radius: 4px;
  background-color: var(--decor-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: calc(1em / 16.66);
  color: #fff;
}

.footer__wrapper-adresse {
  width: 231px;
  margin-top: 60px;
  margin-right: 70px;
}

.footer__wrapper-social {
  margin-top: 72px;
  /* margin-right: 93px; */
}

.footer__subscription {
  margin-top: 72px;
  margin-left: auto;
}


/* - - - - - - - - - - - - - - - - Portfolio - - - - - - - - - - - - - - - -  */

.projects__list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--titles-color);
}

 .project__title {
  margin-bottom: 4px;

  letter-spacing: calc(1em / 16.6);
  line-height: 2em;
  font-size: 18px;
  font-weight: 700;
}

.project__decr {
  font-size: 16px;
  line-height: 1.85em;
  letter-spacing: calc(1em / 33.3);
}

.projects__item > p {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.projects__list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects__item-btn:not(:last-child) {
  margin-right: 8px;
}

.list__button {
  padding: 6px 22px;

  background-color: rgba(245, 244, 250, 1);
  border-radius: 3px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: calc(1em / 33);
}

.list__button:hover,
.list__button:focus {
  background-color: var(--decor-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 
              0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  color: #ffffff;
  cursor: pointer;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.portfolio {
  padding: 94px 0px;
}

.projects__item > .item-descr {
  padding: 20px 24px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

.overlay-wrapper {
  position: relative;
  width: 370px;
  height: 294px;

  overflow: hidden;
}

.overlay-descr {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55em;
  color: #ffffff;

  transition: transform 500ms 0s;
  transition-timing-function: cubic-bezier(0,4, 0, 0.2, 1);
}

.projects__item:hover .overlay-descr {
  transform: translateY(-100%);
}

.projects__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}