.header {
  color: var(--titles-color);
  font-weight: 500;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__contacts-list {
  margin-left: auto;
}

.header__logo {
  display: block;
  margin-right: 94px;
  padding-block: 24px;
}