.our-team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.our-team {
  padding-block: 94px;
  background-color: #F5F4FA;
}

.our-team-list {
  display: flex;
  gap: 30px;
}